*{
  color: #fff;
  font-family: 'Rubik', sans-serif;
}
body{
  background-color: black;
}
span{
  margin-right: 0.2rem;
  font-size: 0.5rem;
  text-shadow: 1px 1px black;
}
h4{
  font-size: 0.8rem;
}
h2{
  font-size: 1.4rem;  
  text-shadow: 1px 1px black;
}
h5{
  letter-spacing: 0.1rem;
  text-shadow: 1px 1px black;
}
p{
  font-size: 2.0rem;
  text-shadow: 2px 2px black;
}
.card{
  padding: 28px 40px;
}